<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fitnessvwork</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.funavry.fitnessvworkexpo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitnessvwork</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Fitnessvwork application requires this permission to access your calendar data, Fitnessvwork will ask you to add scheduled workouts to your calendar with their description with a link to those workouts in the application.</string>
	<key>NSContactsUsageDescription</key>
	<string>Request permission from the user to read their Contacts entries.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Read and understand health data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Share workout data with other apps.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required for xyz benefits for you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record your speech and convert it to text.</string>
	<key>NSMotionUsageDescription</key>
	<string>Reason string goes here</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fitnessvwork application requires this permission to access photo library to help updating your photo profile</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
